{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Emily Carter's Babysitter Page -->
<section class="babysitter-detail py-5">
  <div class="container">
    <h2 class="text-center">Meet Emily </h2>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="{% static 'images/avataaars (1).png' %}" class="img-fluid" alt="Emily Carter">
      </div>
      <div class="col-md-6">
        <h3>About Emily</h3>
        <p>Emily  is a certified babysitter who specializes in providing a structured yet fun learning environment. With a passion for child development, Emily focuses on creating engaging educational games and activities that foster cognitive and social growth in children of all ages.</p>

        <h4>Specialties</h4>
        <ul>
          <li>Educational games and activities</li>
          <li>Potty training and discipline techniques</li>
          <li>First aid and CPR certified</li>
        </ul>

        <h4>Experience</h4>
        <p>Emily has a background in child psychology, which allows her to tailor activities that meet each child's developmental stage. She is also skilled in managing children with special needs and providing personalized care to ensure their success.</p>

        <h4>Availability</h4>
        <p>Emily is available for both weekday and weekend bookings and offers flexible hours to suit your family's schedule.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
