{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- event_list.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    {% for event in events %}
    <div class="col-md-4 mb-4">
      <div class="card" style="background-color: #e9ecef; padding: 20px; border-radius: 10px; margin-top: 60px;">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.5rem; margin-bottom: 15px;">{{ event.title }}</h5>
          <p class="card-text" style="margin-bottom: 10px;">{{ event.description }}</p>
          <p class="card-text" style="margin-bottom: 10px;"><strong>Start:</strong> {{ event.start_time }}</p>
          <p class="card-text" style="margin-bottom: 10px;"><strong>End:</strong> {{ event.end_time }}</p>
          <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
